.btn {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 1.8rem 3rem;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 500;
    font-size: 2rem;
    transition: opacity .2s;
    &:focus {
        outline: none;
    }
    &:hover {
        opacity: .8;
    }
    &--red {
        background-color: $color-red;
    }
    &--black {
        background-color: $color-black;
    }
}