.footer {
    grid-row: 6/7;
    grid-column: full-start/full-end;
    padding: 3rem 0;
    margin-bottom: 8rem;
    &__icon-box {
        text-align: center;
        padding: 2rem 0;
    }
    &__link {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
    &__icon {
        width: 4rem;
        height: 4rem;
        fill: $color-grey-dark-1;
        &:hover {
            fill: $color-red;
        }
    }
    &__legals {
        width: 80%;
        margin: auto;
        text-align: center;
    }
}